<div class="page-container surface-ground min-h-screen flex align-items-center justify-content-center">
  <div class="surface-card p-5 shadow-4 border-round form-wrapper w-full sm:w-8 md:w-6 lg:w-5" style="overflow: visible;">

        <div class="text-center mb-5">
            <h2 class="text-3xl font-bold mb-2">Crear Cuenta</h2>
            <p class="text-600">Completa tus datos para registrarte</p>
        </div>

        <form [formGroup]="registerForm">
          <p-stepper [(value)]="activeStep">

              <!-- ICONOS -->
              <p-step-list>
                  <p-step [value]="1"></p-step>
                  <p-step [value]="2"></p-step>
                  <p-step [value]="3"></p-step>
              </p-step-list>

              <p-step-panels>

                  <!-- PASO 1 -->
                  <p-step-panel [value]="1">
                      <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-column gap-3">

                              <span class="p-float-label">
                                  <input pInputText formControlName="nombreCompleto" id="name" class="w-full"/>
                                  <label for="name">Nombre completo</label>
                              </span>
                              <small *ngIf="f['nombreCompleto'].invalid && f['nombreCompleto'].touched" class="p-error">El nombre es obligatorio.</small>

                              <span class="p-float-label">
                                  <p-datepicker formControlName="fechaNacimiento" class="w-full" appendTo="body"></p-datepicker>
                                  <label>Fecha de nacimiento</label>
                              </span>
                              <small *ngIf="f['fechaNacimiento'].invalid && f['fechaNacimiento'].touched" class="p-error">La fecha es obligatoria.</small>

                              <span class="p-float-label">
                                  <input pInputText formControlName="direccion" id="dir" class="w-full"/>
                                  <label for="dir">Dirección</label>
                              </span>
                              <small *ngIf="f['direccion'].invalid && f['direccion'].touched" class="p-error">La dirección es obligatoria.</small>

                              <span class="p-float-label">
                                  <input pInputText formControlName="telefono" id="tel" class="w-full"/>
                                  <label for="tel">Teléfono</label>
                              </span>
                              <small *ngIf="f['telefono'].invalid && f['telefono'].touched" class="p-error">Teléfono inválido, solo números.</small>

                          </div>

                          <div class="flex justify-content-end mt-4">
                              <p-button
                                  label="Continuar"
                                  icon="pi pi-arrow-right"
                                  iconPos="right"
                                  [disabled]="f['nombreCompleto'].invalid || f['fechaNacimiento'].invalid || f['direccion'].invalid || f['telefono'].invalid || !esMayorDeEdad()"
                                  (onClick)="activateCallback(2)">
                              </p-button>
                          </div>
                          <div *ngIf="!esMayorDeEdad() && f['fechaNacimiento'].touched" class="mt-1">
                            <small class="p-error">Debes ser mayor de edad para continuar</small>
                          </div>
                      </ng-template>
                  </p-step-panel>

                  <!-- PASO 2 -->
                  <p-step-panel [value]="2">
                      <ng-template #content let-activateCallback="activateCallback">
                          <div class="flex flex-column gap-3">

                              <span class="p-float-label">
                                  <input pInputText formControlName="usuario" id="user" class="w-full"/>
                                  <label for="user">Usuario</label>
                              </span>
                              <small *ngIf="f['usuario'].invalid && f['usuario'].touched" class="p-error">El usuario es obligatorio.</small>

                              <span class="p-float-label">
                                  <input pInputText formControlName="email" id="email2" type="email" class="w-full"/>
                                  <label for="email2">Email</label>
                              </span>
                              <small *ngIf="f['email'].invalid && f['email'].touched" class="p-error">Introduce un email válido.</small>

                              <span class="p-float-label">
                                  <p-password formControlName="password" toggleMask="true" class="w-full"></p-password>
                                  <label>Contraseña</label>
                              </span>
                              <small *ngIf="f['password'].invalid && f['password'].touched" class="p-error">
                                La contraseña debe tener al menos 10 caracteres y contener un símbolo especial (!@#$%^&*).
                              </small>

                              <span class="p-float-label">
                                  <p-password formControlName="confirmPassword" toggleMask="true" class="w-full"></p-password>
                                  <label>Confirmar Contraseña</label>
                              </span>
                              <small *ngIf="registerForm.hasError('notMatching') && f['confirmPassword'].touched" class="p-error">
                                Las contraseñas no coinciden.
                              </small>

                          </div>

                          <div class="flex justify-content-between mt-5">
                              <p-button
                                  label="Atrás"
                                  severity="secondary"
                                  icon="pi pi-arrow-left"
                                  (onClick)="activateCallback(1)">
                              </p-button>

                              <p-button
                                  label="Registrar"
                                  icon="pi pi-check"
                                  [disabled]="registerForm.invalid || registerForm.hasError('notMatching') || !esMayorDeEdad()"
                                  (onClick)="registrar(); activateCallback(3)">
                              </p-button>
                          </div>
                      </ng-template>
                  </p-step-panel>

                  <!-- PASO 3 -->
                  <p-step-panel [value]="3">
                      <ng-template #content let-activateCallback="activateCallback">

                          <div class="text-center">
                              <i class="pi pi-check-circle text-green-500 text-6xl mb-3"></i>
                              <h3 class="text-2xl font-bold mb-2">¡Registro exitoso!</h3>
                              <p class="text-600">Tu cuenta ha sido creada correctamente.</p>
                          </div>

                          <div class="flex justify-content-start mt-5">
                              <p-button
                                  label="Atrás"
                                  severity="secondary"
                                  icon="pi pi-arrow-left"
                                  (onClick)="activateCallback(2)">
                              </p-button>
                          </div>

                      </ng-template>
                  </p-step-panel>

              </p-step-panels>

          </p-stepper>
        </form>

    </div>
</div>
